.form {
  max-width: 40rem;
  margin: 2rem auto;
  background-color: #6233B9;
  padding: 20px;
  border-radius: 10px;
}

.form label,
.form input,
.form textarea {
  display: block;
  width: 100%;
}

.form input,
.form textarea {
  font: inherit;
  border-radius: 10px;
  border: none !important;;
  background-color: rgb(184, 177, 177) !important;
  padding: 0.25rem;
}

.form select {
  font: inherit;
  border-radius: 10px;  
  border: none !important;
  background-color: rgb(184, 177, 177) !important;
  padding: 0.25rem;
}

.form select:hover {
  background-color: rgb(154, 147, 147) !important;
}

.form select:focus {
  outline: none;
  box-shadow: 0 0 5px rgba(98, 51, 185, 0.8);
}



.actions {
  display: flex;
  gap: 1rem;
  justify-content: flex-end;
  align-items: center;
}

.actions button {
  font: inherit;
  cursor: pointer;
  padding: 0.5rem 1.5rem;
  border-radius: 4px;
  background-color: var(--color-gray-300);
  color: var(--color-gray-800);
  border: none;
}

.actions a {
  text-decoration: none;
  background-color: transparent;
  color: var(--color-gray-300);

}

.actions button:hover {
  background-color: var(--color-primary-300);
}

.actions a:hover {
  background-color: var(--color-gray-800);
}
