
.about-us-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  h2 {
    color: #ffffff;
  }
  
  p {
    line-height: 1.5;
    color: #ffffff;
  }
  
  .founders-section {
    margin-top: 20px;
  }
  
  h3 {
    color: #ffffff;
  }
  